.form-horizontal .control-group {
    margin-bottom: 5px;
}

.dropdown-menu.omenu {
	left: -5px; 
}

.modal {
	left: 750 !important;
	bottom: inherit !important;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: inherit;
}

.form-horizontal .form-group {
	margin: 0 !important;
}

.form-group {
	margin-bottom: 0;
}

.wrap > .container {
	padding: 5px 15px 20px;
}